<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <meta charset="UTF-8">
    <title>Index html</title>
    <!--<script type="text/javascript" th:src="@{/js/react.js}"></script>
    <script type="text/javascript" th:src="@{/js/react-dom.js}"></script>
    <script th:src="@{/resources/js/dist/App_bundle.js}"></script>-->
    <script type="module" src="scripts/dist/App_bundle.js"></script>
    </head>
<body>
<div id="react"></div>
</body>
</html>